@import 'css/custom/_required.scss';

.header {
  margin: $nav-link-padding-y * 2 0;
  padding: $nav-link-padding-y * 2 0;

  @include before {
    border-bottom: $border-width solid $border-color;
    left: 0;
    right: -$nav-link-padding-x;
    top: 0;
  }

  @include after {
    border-bottom: $border-width solid $border-color;
    bottom: 0;
    left: 0;
    right: -$nav-link-padding-x;
  }
}

.search {
  margin-bottom: $nav-link-padding-x !important;
}

.container {
  padding: 1.2rem;
  width: 16rem;
}

.item {
  margin-top: 1.2rem;
  white-space: nowrap;
}
