@import 'css/custom/_required.scss';

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  &--descriptionB {
    color: $blue;
    cursor: pointer;
  }
  &--titleR {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $red;
    border: 0;
    padding: 0;
    height: auto;
  }
  &--descriptionL {
    color: $gray-600;
  }
}
