@import 'css/custom/_required.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid $gray-200;
  margin: 0 -2.4em 1.5rem;
  padding: 0 2.4em 1.25rem;

  &--left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 1.5rem;

      h3 {
        font-weight: 500;
      }

      &--bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 11px;

        .label {
          &--container {
            background-color: rgba($primary, 0.1);
            padding: 4px 12px;
            margin-right: 12px;
          }

          &--text {
            font-size: 11px;
            line-height: 14px;
            font-weight: 700;
            color: $primary;
            text-transform: uppercase;
            letter-spacing: 1px;

            &--stock {
              color: #0066d6;
            }
          }
        }
      }
    }
  }
}
