@import 'css/custom/_required.scss';

.tooltip {
  margin: 0.8rem 0;

  @include desktop {
    width: 90%;
    align-items: center
  };
  }

.badge {
  padding: 0.6rem;

  &:hover {
    // background-color: lighten($accent, 27.5%);
    box-shadow: inset 0 0 0 1000rem rgba($black, 0.03);
  }
}
