@import 'css/custom/_required.scss';

.dialog {
  width: auto;
  max-width: 50rem;

  .header {
    align-items: center;
    border-bottom: 1px solid #EBECF0;
    padding: 2rem;
    margin: 0;

    :global(.close) {
      font-size: 3rem;
      font-weight: 400;
      padding: 0 .8rem;
      margin: 0;
    }
  }
  
  .title {
    font-weight: $font-weight-bolder;
    margin: 0;
  }
  
  .body {
    padding: 2rem;
    margin: 0;
  }
  
  .footer {
    border-top: 1px solid #EBECF0;
    padding: 2rem;
    margin: 0;
  }
}

