@use 'sass:math';
@import 'css/custom/_required.scss';

.buttons {
  display: flex;
  margin: 0 math.div(-$form-grid-gutter-width, 2);

  & > * {
    margin: 0 math.div($form-grid-gutter-width, 2);
  }
}
