@import 'css/custom/_required.scss';

.container {
  //  @include mobile {
  //   margin-bottom: 1.6rem;
  //   margin-top: .8rem;
  // }

  // @include desktop {
    display: flex;
    margin-bottom: 3.2rem;
  // }
}

.tools {
  align-items: center;
  display: flex;

  .row {
    display: flex;
    margin: 0 -.8rem;

    & > * {
      margin: 0 .8rem;
    }
  }

  @include mobile {
       margin-left: auto;
  }

  @include desktop {
    margin-left: auto;
  }
}

.title {
}
