@use 'sass:math';
@import 'css/custom/_required.scss';

.form {
  :global(.card-body) {
    padding: 2rem;
  }

  textarea {
    border: 0.1rem solid #EBECF0 !important;
    border-radius: 0.4rem !important;
    padding: 1.2rem 1.2rem !important;
  }

  .buttons {
    display: flex;
    margin: 0 math.div(-$form-grid-gutter-width, 2);
  
    & > * {
      margin: 0 math.div($form-grid-gutter-width, 2);
      flex-basis: 12rem;
      flex-grow: 0;
    }
  }
}
